<div id="focusme" tabindex="100"></div>
<div *ngIf="video != null" id="intro" #focusedDiv class="view">
  <div class="d-flex pt-3 mt-5">
    <!-- title with description -->
    <div class="myText mt-5 pl-3">
      <!-- Heading -->
      <h2 class="font-weight-bold text-light pt-4">
        {{ video.title }}
      </h2>
      <!-- Description -->
      <p class="text-light my-4">Movie Description: {{ video.description }} <br /></p>
      <br />
      <!-- play button -->
      <button type="button" class="btn btn-danger btn-lg pt-1" (click)="playVideo(video.id)">
        Play Now <i class="fa fa-play" style="font-size: 24px;"></i>
      </button>
    </div>
    <!-- Movie here -->
    <div class="myBigPhoto mt-5 pt-3">
      <img [src]="video.url" />
    </div>
  </div>
</div>

<div *ngIf="video == null" id="intro" class="view">
  <div class="d-flex pt-3 mt-5">
    <!-- title with description -->
    <div class="myText mt-5 pl-3">
      <!-- Heading -->
      <h2 class="font-weight-bold text-light pt-4">
        {{ title }}
      </h2>
      <!-- Description -->
      <p class="text-light my-4">
        {{ description }}
      </p>
      <button type="button" class="btn btn-danger btn-lg pt-1">Play Now <i class="fa fa-play" style="font-size: 24px;"></i></button>
    </div>
    <!-- Movie here -->
    <div class="myBigPhoto mt-5 pl-3 pb-3">
      <img src="../../assets/img/763.jpg" width="380" height="360" />
    </div>
  </div>
</div>
